.dialog {
  text-align: center;

  inset: 0;
  position: fixed;
  overscroll-behavior: contain;

  border: none;
  border-radius: 1rem;
  width: 100%;

  animation: slide-out 0.5s ease-out;

  &[open] {
    animation: slide-in 0.5s ease-out;

    &::backdrop {
      background-color: darkslategray;
      opacity: 0.8;
    }
  }

  &[data-anchor='top'] {
    margin-top: 0;
  }

  &[data-anchor='bottom'] {
    margin-bottom: 0;
  }

  &[data-anchor] {
    // Centered modal on Desktop
    @media (min-width: 768px) {
      margin: auto;
      width: 50%;
    }
  }
}

.close {
  all: unset;

  cursor: pointer;

  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
}

@keyframes slide-in {
  0% {
    transform: translateY(100vh);
    display: none;
  }

  100% {
    transform: translateY(0);
    display: block;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    display: block;
  }

  100% {
    transform: translateY(100vh);
    display: none;
  }
}
